header {
    h1 {
        color: White;
    }

    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: black;
        }
    }
}

#blok2 {
    margin-left: 5rem;
    margin-right: 20rem;
}

#blok1, #blok4 {
    margin-left: 20rem;
    margin-right: 20rem;
}

.domeinen {
    border: 1px solid black;
    width: 50rem;
    height: 50rem;
}

.highlight {
    scale: 110%;
    box-shadow: 10px 10px 20px black;
}

#start {
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-economisch {
    background: #00adef !important;
    background-image: none !important;
    transition: background 0.6s ease;
}

.bg-sociaal {
    background: #f8e010 !important;
    background-image: none !important;
    transition: background 0.6s ease;
}

.bg-cultureel {
    background: #f7941d !important;
    background-image: none !important;
    transition: background 0.6s ease;
}

.bg-politiek {
    background: #e61d8c !important;
    background-image: none !important;
    transition: background 0.6s ease;
}

#header, #footer {
    background-color: #cccccc;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.21), rgba(255, 255, 255, 0.45)) !important;
    transition: background-color 0.6s ease-in-out;
}

#headerDomein, #textDomein {
    transition: opacity 400ms ease-in-out;
    opacity: 1;
}

.fade-out {
    opacity: 0 !important;
}

@media screen and (min-width: 768px) {

    .containerGrid {
        scale: 0.9;
        grid-template-columns: 9rem 9rem 9rem;
        grid-template-rows: 9rem 9rem 9rem;
        gap: 0.5rem;
        margin: 0 auto;
        width: fit-content;
    }

    .containerGrid div {
        width: 7rem;
        height: 7rem;
        font-size: 0.9rem;
    }

    .containerGrid #itemLeeg {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .containerGrid {
        display: grid;
        grid-template-columns: 7rem 7rem 7rem;
        grid-template-rows: 7rem 7rem 7rem;
        padding: 1rem;

        div {
            width: 7rem;
            height: 7rem;
            font-size: 0.9rem;
        }
    }
}

@media screen and (min-width: 1200px) {
    .containerGrid {
        grid-template-columns: 12rem 12rem 12rem;
        grid-template-rows: 12rem 12rem 12rem;
        padding: 1rem;

        div {
            scale: 1.4;
        }
    }
}

#achtergrondDomeinen {
    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;

    div {
        width: 25%;
        height: 25%;
        border-radius: 50%;
        background-color: black;
        color: white;
        position: absolute;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1rem;
        padding: 5px;
        transition: all 0.6s ease-in-out;
        font-weight: bold;
    }
}

.Boven {
    top: 25%;
    left: 50%;
}

.Links {
    top: 50%;
    left: 25%;
}

.Onder {
    top: 75%;
    left: 50%;
}

.Rechts {
    top: 50%;
    left: 75%;
}