.fadeInRechts {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    display: block;
}

.fadeInLinks {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    display: block;
}

.fadeInRechts.isVisible, .fadeInLinks.isVisible {
    opacity: 1;
    transform: translateX(0);
}