body {
    color: #253562 ;

    header {
        background: #253562;
        background: linear-gradient(90deg, rgba(37, 53, 98, 1) 0%, rgba(74, 93, 144, 1) 100%);
        color: white;

        h1 {
            color: White;
        }

        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
    }

    h2 {
        border-color: #253562 !important;
    }
}


.accordion-button {
    background-color: #4A5D90;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #253562;
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-body {
    background-color: #ffffff;
    color: #555;
}

.btn-primary {
    background-color: #1A2646;
    color: white;
}

.btn, .btn-primary:hover {
    background-color: #0156B8; !important;
    color: white;
}

.btn-primary:active {
    background-color: #1A2646;
    color: white;
}

.btn-primary:focus {
    background-color: #1A2646;
    color: white;
}

.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #1A2646; !important;
    border-color: transparent !important;
}

footer {
    background: #253562;
    background: linear-gradient(90deg, rgba(37, 53, 98, 1) 0%, rgba(74, 93, 144, 1) 100%);
    color: white;
}