@import "bootstrap.min.css";
@import "global_vars.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header img {
    max-width: 100%;
    min-height: 15rem;
    height: auto;
    border-radius: 0;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    transition: background-color 0.6s ease;
    background-color: white;
    color: #272727;

    .tijd {
        border-bottom: 2px solid;
    }

    p.tijd {
        font-size: 1.2rem;
    }

    section {
        padding-bottom: 2rem;

        img, video {
            border-radius: 3rem;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }

        video {
            max-width: 60%;
        }

    }

    table {
        width: 100%;
    }

    #Header {
        border-radius: 0;
        width: 100%;
        display: flex;
    }

    img, video {
        border-radius: 3rem;
    }

    #logo {
        border-radius: 0;
    }

    .btn-controle{
        margin-top: 1rem;
        width: 100%;
    }

    .btn-primary {
        border: 0;
    }

    #domeinen {
        font-size: 2rem;
        color: white;
        text-decoration: none;
        background-color: Grey;
        padding: 1.5rem;
        border-radius: 1rem;
        transition: background-color 0.5s;

        &:hover {
            background-color: darkgray;
        }
    }
}

#mainPageHeader {
    background-image:
            linear-gradient(90deg,rgba(82, 37, 27, 0.5) 0%, rgba(0, 69, 92, 0.5) 16%, rgba(37, 53, 98, 0.5) 33%, rgba(92, 119, 47, 0.5) 50%, rgba(255, 217, 58, 0.5) 68%, rgba(240, 105, 54, 0.5) 84%, rgba(243, 64, 51, 0.5) 100%),
    url("../fotos/header.jpeg");
    background-size: cover;
    width: auto;
    max-height: 300px;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;

    img {
        max-width: 50rem;
        width: 100%;
    }
}

footer {
    width: 100%;
    background-color: grey;
    color: white;
    position: absolute;
}

#tijdlijn {
    list-style-type: none;
    width: 100%;
    margin: auto;

    li {
        padding-left: 0;
        padding-right: 0;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            text-decoration: none;
            color: white;
            height: 22rem;
            text-align: center;

            @media screen and (max-width: 767px) {
                margin: 0 auto;
                width: 80%;
                height: 11rem;
            }
        }

    }
}

.tijdvak {
    border: 1px solid black;
}

#Prehistorie div .tijdvak {
    border-radius: 2rem 2rem 0 0;
    background-color: #7b3d32;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #633128;
    }
}

#OudeNabijeOosten div .tijdvak{
    background-color: #008AB7;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #006f94;
    }
}

#KlassiekeOudheid div .tijdvak{
    background-color: #253562;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #1a2646;
    }
}

#Middeleeuwen div .tijdvak{
    background-color: #84A844;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #6a8736;
    }
}

#VroegmoderneTijd div .tijdvak{
    background-color: #FFD93A;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #e6c234;
    }
}

#ModerneTijd div .tijdvak{
    background-color: #F06936;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #d15a2d;
    }
}

#Heden div .tijdvak{
    background-color: #F34033;
    border-radius: 0 0 2rem 2rem;
    transition: background-color 0.6s ease;

    &:hover {
        background-color: #c43329;
    }
}
div {
    label {
        font-weight: bold;
    }

    #darkModeLightMode {
        display: none;
    }
}

.accordion-body {
    background-color: black;
}

.no-transition, .no-transition * {
    transition: none !important;
}

#darkMode, #lightMode {
    cursor: pointer;
}