@import "bootstrap.min.css";
@import "global_vars.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;

    h2 {
        border-bottom: 2px solid black;
    }

    section {
        padding-bottom: 2rem;

        img {
            width: auto;
            height: 100%;
        }

    }

    table {
        width: 100%;
    }

    #Header {
        border-radius: 0;
        width: 100%;
        display: flex;
    }

    img, video {
        border-radius: 3rem;
    }

    #logo {
        border-radius: 0;
    }

    .btn-controle{
        margin-top: 1rem;
        width: 100%;
    }
}

#mainPageHeader {
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../fotos/header.jpeg");
    background-size: cover;
    width: auto;
    max-height: 300px;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;

    img {
        max-width: 50rem;
    }
}

footer {
    width: 100%;
    background-color: grey;
    color: white;
    position: absolute;
}

#tijdlijn {
    list-style-type: none;
    width: 100%;
    margin: auto;

    li {
        text-align: center;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            text-decoration: none;
            color: white;
            height: 22rem;
            text-align: center;
        }

    }
}

.tijdvak {
    border: 1px solid black;
}

#Prehistorie div .tijdvak {
    border-radius: 2rem 2rem 0 0;
    background-color: #7b3d32;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #633128;
    }
}

#OudeNabijeOosten div .tijdvak{
    background-color: #008AB7;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #006f94;
    }
}

#KlassiekeOudheid div .tijdvak{
    background-color: #253562;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #1a2646;
    }
}

#Middeleeuwen div .tijdvak{
    background-color: #84A844;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #6a8736;
    }
}

#VroegmoderneTijd div .tijdvak{
    background-color: #FFD93A;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #e6c234;
    }
}

#ModerneTijd div .tijdvak{
    background-color: #F06936;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #d15a2d;
    }
}

#Heden div .tijdvak{
    background-color: #F34033;
    border-radius: 0 0 2rem 2rem;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #c43329;
    }
}