@import "bootstrap.min.css";
@import "global_vars.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

header img {
    max-width: 100%;
    min-height: 15rem;
    height: auto;
    border-radius: 0;
}

body {
    position: relative;
    min-height: 100vh;
    padding-bottom: 50px;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    transition: background-color 0.6s ease;
    background-color: white;
    color: #272727;

    .tijd {
        border-bottom: 2px solid;
    }

    p.tijd {
        font-size: 1.2rem;
    }

    section {
        padding-bottom: 2rem;

        img, video {
            border-radius: 3rem;
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }

        video {
            max-width: 60%;
            object-fit: contain;
        }

    }

    table {
        width: 100%;
    }

    #Header {
        border-radius: 0;
        width: 100%;
        display: flex;
    }

    img, video {
        border-radius: 3rem;
    }

    #logo {
        border-radius: 0;
    }

    .btn-controle{
        margin-top: 1rem;
        width: 100%;
    }

    .btn-primary {
        border: 0;
    }

    #domeinen {
        font-size: 1rem;
        color: white;
        text-decoration: none;
        background-color: Grey;
        padding: 1.5rem;
        border-radius: 1rem;
        transition: background-color 0.5s;

        &:hover {
            background-color: darkgray;
        }
    }
}

#mainPageHeader {
    background-image:
            linear-gradient(90deg, rgba(27, 27, 27, 0.5) 0%, rgba(27, 27, 27, 0.5) 100%),
            url("../fotos/header.jpeg");
    background-size: cover;
    width: auto;
    max-height: 300px;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: center;

    img {
        max-width: 50rem;
        width: 100%;
    }
}

footer {
    width: 100%;
    background-color: grey;
    color: white;
    position: absolute;
}

#tijdlijn {
    list-style-type: none;
    width: 100%;
    margin: auto;

    li {
        padding-left: 0;
        padding-right: 0;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            text-decoration: none;
            color: white;
            height: 22rem;
            text-align: center;

            @media screen and (max-width: 767px) {
                margin: 0 auto;
                width: 80%;
                height: 11rem;
            }
        }

    }
}

.tijdvak {
    border: 1px solid black;
}

#Prehistorie div .tijdvak {
    border-radius: 2rem 2rem 0 0;
    background-color: #7b3d32;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #633128;
    }
}

#OudeNabijeOosten div .tijdvak{
    background-color: #008AB7;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #006f94;
    }
}

#KlassiekeOudheid div .tijdvak{
    background-color: #253562;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #1a2646;
    }
}

#Middeleeuwen div .tijdvak{
    background-color: #84A844;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #6a8736;
    }
}

#VroegmoderneTijd div .tijdvak{
    background-color: #FFD93A;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #e6c234;
    }
}

#ModerneTijd div .tijdvak{
    background-color: #F06936;
    transition: background-color 0.5s ease;

    &:hover {
        background-color: #d15a2d;
    }
}

#Heden div .tijdvak{
    background-color: #F34033;
    border-radius: 0 0 2rem 2rem;
    transition: background-color 0.6s ease;

    &:hover {
        background-color: #c43329;
    }
}
div {
    label {
        font-weight: bold;
    }

    #darkModeLightMode {
        display: none;
    }
}

.accordion-body {
    background-color: black;
}

.no-transition, .no-transition * {
    transition: none !important;
}

#darkMode, #lightMode {
    cursor: pointer;
}

#headerToBodyFade {
    height: 1.5rem;
}

#bodyToFooterFade {
    height: 1.5rem;
}

#fotoDomeinen {
    position: relative;
    color: white;
    font-size: 2rem;
    scale: 0.8;

    img {
        border-radius: 0;
    }

    div div :nth-child(1) {
        border-radius: 3rem 0 0 0;
    }

    div div :nth-child(2) {
        border-radius: 0 3rem 0 0;
    }

    div div :nth-child(3) {
        border-radius: 0 0 0 3rem;
    }

    div div :nth-child(4) {
        border-radius: 0 0 3rem 0;
    }

    p {
        position: absolute;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    #tekstPolitiek {
        border-radius: 3rem 0 0 0;
        background-color: rgba(230, 29, 140, 0.5);
        width: 50%;
        height: 50%;
        top: 25%;
        left: 25%;
    }

    #tekstEconomisch {
        border-radius: 0 3rem 0 0;
        background-color: rgba(0, 173, 239, 0.5);
        width: 50%;
        height: 50%;
        top: 25%;
        left: 75%;
    }

    #tekstSociaal {
        border-radius: 0 0 0 3rem;
        background-color: rgba(248, 224, 16, 0.5);
        width: 50%;
        height: 50%;
        top: 75%;
        left: 25%;
    }

    #tekstCultureel {
        border-radius: 0 0 3rem 0;
        background-color: rgba(247, 148, 29, 0.5);
        width: 50%;
        height: 50%;
        top: 75%;
        left: 75%;
    }
}

#logo {
    #logoWit {
        display: block;
    }
    #logoZwart {
        display: none;
    }

    &:hover {
        #logoZwart {
            display: block;
        }
        #logoWit {
            display: none;
        }
    }
}