body {
    color: #4B6327 ;

    header {
        background: #4B6327;
        background: linear-gradient(90deg,rgba(75, 99, 39, 1) 0%, rgba(106, 135, 54, 1) 100%);
        color: white;

        h1 {
            color: White;
        }

        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
    }

    h2, .tijd {
        border-color: #4B6327 !important;
    }
}


.accordion-button {
    background-color: #6A8736;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #4B6327;
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-body {
    background-color: #ffffff;
    color: #555;
}

.btn-primary {
    background-color: #6A8736;
    color: white;
}

.btn, .btn-primary:hover {
    background-color: #84A844; !important;
    color: white;
}

.btn-primary:active {
    background-color: #6A8736;
    color: white;
}

.btn-primary:focus {
    background-color: #6A8736;
    color: white;
}

.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #6A8736; !important;
    border-color: transparent !important;
}

footer {
    background: #4B6327;
    background: linear-gradient(90deg,rgba(75, 99, 39, 1) 0%, rgba(106, 135, 54, 1) 100%);
    color: white;
}