:root {
    --apricot-sorbet: #ffbd9b;
    --burnt-orange: #f06936;
    --pueblo-red: #d15a2d;
    --raw-clay: #b34b25;
    --deep-ochre: #943d1e;
    --clean-white: #ffffff;
    --charcoal-grey: #555555;

    --gradient-orange: linear-gradient(90deg, #f06936 0%, #f57d50 100%);
}

body {
    color: var(--burnt-orange);
}

header {
    background: var(--burnt-orange);
    background: var(--gradient-orange);
    color: var(--clean-white);
}

header h1 {
    color: var(--clean-white);
}

header a {
    color: var(--clean-white);
    text-decoration: none;
}

header a:hover {
    color: black;
}

h2, .tijd {
    border-color: var(--burnt-orange) !important;
}

.accordion-button {
    background-color: var(--pueblo-red); /* Gebruikt je tweede kleur voor een mooi contrast */
    color: var(--clean-white);
}

.accordion-button:not(.collapsed) {
    background-color: var(--burnt-orange);
    color: var(--clean-white);
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

.accordion-body {
    background-color: var(--clean-white);
    color: var(--charcoal-grey);
}

.btn-primary {
    background-color: var(--burnt-orange);
    color: var(--clean-white);
    border-color: var(--burnt-orange);
}

.btn:hover,
.btn-primary:hover {
    background-color: var(--pueblo-red) !important;
    color: var(--clean-white);
}

.btn-primary:active,
.btn-primary:focus {
    background-color: var(--burnt-orange);
    color: var(--clean-white);
}

.btn-primary:focus,
.btn-primary:active:focus {
    border-color: transparent !important;
}

footer {
    background: var(--burnt-orange);
    background: var(--gradient-orange);
    color: var(--clean-white);
}