body {
    color: #F34033 ;

    header {
        background: #F34033;
        background: linear-gradient(90deg, rgb(243, 64, 51) 0%, rgb(245, 80, 69) 100%);
        color: white;

        h1 {
            color: White;
        }

        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
    }

    h2, .tijd {
        border-color: #F34033 !important;
    }
}

.accordion-button {
    background-color: #a45241;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #f55045;
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-body {
    background-color: #ffffff;
    color: #555;
}

.btn-primary {
    background-color: #F34033;
    color: white;
}

.btn, .btn-primary:hover {
    background-color: #994632; !important;
    color: white;
}

.btn-primary:active {
    background-color: #F34033;
    color: white;
}

.btn-primary:focus {
    background-color: #F34033;
    color: white;
}

.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #F34033; !important;
    border-color: transparent !important;
}

footer {
    background: #F34033;
    background: linear-gradient(90deg, rgb(243, 64, 51) 0%, rgb(245, 80, 69) 100%);
    color: white;
}