body {
    color: #00455C ;

    header {
        background: #00455C;
        background: linear-gradient(90deg, rgba(0, 69, 92, 1) 0%, rgba(0, 138, 183, 1) 100%);
        color: white;

        h1 {
            color: White;
        }

        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
    }

    h2 {
        border-color: #00455C !important;
    }
}



.accordion-button {
    background-color: #4CB0D1;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #E0F4FA;
    color: #006F94;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-body {
    background-color: #ffffff;
    color: #555;
}

.btn-primary {
    background-color: #00455C;
    color: white;
}

.btn, .btn-primary:hover {
    background-color:#008AB7; !important;
    color: white;
}

.btn-primary:active {
    background-color:#006F94;
    color: white;
}

.btn-primary:focus {
    background-color: #E0F4FA;
    color: white;
}

.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #00455C; !important;
    border-color: transparent !important;
}

footer {
    background: #00455C;
    background: linear-gradient(90deg, rgba(0, 69, 92, 1) 0%, rgba(0, 138, 183, 1) 100%);
    color: white;
}