body {
    color: #52251b ;

    header {
        background: #52251B;
        background: linear-gradient(90deg, rgba(82, 37, 27, 1) 0%, rgba(123, 61, 50, 1) 100%);
        color: white;

        h1 {
            color: White;
        }

        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
    }

    h2, .tijd {
        border-color: #52251b !important;
    }
}

.accordion-button {
    background-color: #a45241;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #d47b68;
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-body {
    background-color: #ffffff;
    color: #555;
}

.btn-primary {
    background-color: #52251b;
    color: white;
}

.btn, .btn-primary:hover {
    background-color: #994632; !important;
    color: white;
}

.btn-primary:active {
    background-color: #52251b;
    color: white;
}

.btn-primary:focus {
    background-color: #52251b;
    color: white;
}

.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #52251b; !important;
    border-color: transparent !important;
}

footer {
    background: #52251B;
    background: linear-gradient(90deg, rgba(82, 37, 27, 1) 0%, rgba(123, 61, 50, 1) 100%);
    color: white;
}