:root {
    --deep-coffee: #52251b;
    --russet-brown: #7b3d32;
    --burnt-sienna: #994632;
    --terra-cotta: #a45241;
    --desert-sand: #d47b68;
    --clean-white: #ffffff;
    --charcoal-grey: #555555;

    --gradient-primary: linear-gradient(90deg, rgba(82, 37, 27, 1) 0%, rgba(123, 61, 50, 1) 100%);
}

body {
    color: var(--deep-coffee);
}

header {
    background: var(--deep-coffee);
    background: var(--gradient-primary);
    color: var(--clean-white);
}

header h1 {
    color: var(--clean-white);
}

header a {
    color: var(--clean-white);
    text-decoration: none;
}

header a:hover {
    color: black;
}

h2, .tijd {
    border-color: var(--deep-coffee) !important;
}

.accordion-button {
    background-color: var(--terra-cotta);
    color: var(--clean-white);
}

.accordion-button:not(.collapsed) {
    background-color: var(--desert-sand);
    color: var(--clean-white);
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

.accordion-body {
    background-color: var(--clean-white);
    color: var(--charcoal-grey);
}

.btn-primary {
    background-color: var(--deep-coffee);
    color: var(--clean-white);
    border: none;
}

.btn:hover,
.btn-primary:hover {
    background-color: var(--burnt-sienna) !important;
    color: var(--clean-white);
}

.btn-primary:active,
.btn-primary:focus {
    background-color: var(--deep-coffee);
    color: var(--clean-white);
}

.btn-primary:focus,
.btn-primary:active:focus {
    border-color: transparent !important;
}

footer {
    background: var(--deep-coffee);
    background: var(--gradient-primary);
    color: var(--clean-white);
}