body {
    color: #8C6500 ;

    header {
        background: #D4AC0D;
        background: linear-gradient(90deg,rgba(212, 172, 13, 1) 0%, rgba(255, 217, 58, 1) 100%);
        color: white;

        h1 {
            color: White;
        }

        a {
            color: white;
            text-decoration: none;
            &:hover {
                color: black;
            }
        }
    }

    h2, .tijd {
        border-color: #D4AC0D !important;
    }
}


.accordion-button {
    background-color: #E6C234;
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #D4AC0D;
    color: white;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
}

.accordion-body {
    background-color: #ffffff;
    color: #555;
}

.btn-primary {
    background-color: #E6C234;
    color: white;
}

.btn, .btn-primary:hover {
    background-color: #FFD93A; !important;
    color: white;
}

.btn-primary:active {
    background-color: #E6C234;
    color: white;
}

.btn-primary:focus {
    background-color: #E6C234;
    color: white;
}

.btn-primary:focus,
.btn-primary:active:focus {
    background-color: #E6C234; !important;
    border-color: transparent !important;
}

footer {
    background: #D4AC0D;
    background: linear-gradient(90deg,rgba(212, 172, 13, 1) 0%, rgba(255, 217, 58, 1) 100%);
    color: white;
}